.Container-Layout {
  display: flex;
}

.Container-Layout-Content {
  width: 100%;
}

.home-section {
  position: relative;
  background: white;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 1em auto;
}
