.product {
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 2em;
  min-height: 350px;
}

a {
  color: var(--black);
  text-decoration: none;
}
.product p {
  /* text-align: justify; */
  font-size: 14px;
  margin: 1em auto;
}

.product .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.product .image {
  width: 40%;
  height: 150px;
  width: 150px;
  padding-top: 1em;
}

.product .image img {
  box-shadow: 10px 10px 9px -7px rgba(203, 203, 203, 0.81);
  margin: auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding-bottom: 0.5em;
  border-radius: 99999px;
}

.product .principal_info {
  width: 50%;
}

.product .principal_info .description {
  height: 150px;
  white-space: wrap;
  overflow: auto;
  padding: 5px 5px 5px 0;
}

.product .principal_info .description::-webkit-scrollbar {
  background-color: rgb(238, 238, 238);
  width: 5px;
}

.product .principal_info .description::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgb(221, 221, 221);
}

.product .bottom {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .bottom .right {
  min-width: 50%;
}
